@mixin flex($dir, $just, $align) {
    display: flex;
    align-items: $align;
    justify-content: $just;
    flex-direction: $dir;
}

@mixin absolute($top, $left, $trans) {
    position: absolute;
    top: $top;
    left: $left;
    transform: translate($trans, $trans);
}